*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

/*-----top------*/
.top {
  height: 735px;
  background-color: #c4c4c4;
  background-image: url(../img/top-backgr.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 64px;
}
.top__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.top__catalog {
  background-image: url(../img/top-catalog.jpg);
  height: 400px;
}
.top__title {
  max-width: 760px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  color: #ffffff;
}
.top__title_alone {
  margin-top: 127px;
}
.top__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #fff;
}
.top__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #ffffff;
}
.top__link:hover {
  text-decoration: none;
}

.header__search {
  width: 288px;
  height: 41px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__search::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__search:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__search::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.header__menu-mobile {
  display: none;
}

.menu__link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.menu__link:hover {
  text-decoration: underline;
}

/*-----for-----*/
.for {
  margin-bottom: 64px;
}

.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #ffffff;
  grid-column: span 4;
  cursor: pointer;
  transition: all 0.5s;
}
.for__item:hover {
  filter: brightness(0.3);
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background: url(../img/for-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.for__item_2 {
  background: url(../img/for-2.jpg);
  background-position: center;
  background-size: cover;
}

.for__item_3 {
  background: url(../img/for-3.jpg);
  background-position: center;
  background-size: cover;
}

.for__item_4 {
  background: url(../img/for-4.jpg);
  background-position: center;
  background-size: cover;
}

.for__item_5 {
  background: url(../img/for-5.jpg);
  background-position: center;
  background-size: cover;
}

/*-----breadcrumbs-sort-----*/
.breadcrumbs-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
}

.breadcrumbs__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  padding-left: 10px;
  padding-right: 10px;
}

.breadcrumbs__link {
  color: #000000;
  transition: color 0.5s;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
  color: #888888;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: inherit;
  /* 	padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  line-height: inherit;
  z-index: 1;  */
}

.sort-select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 288px;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  padding: 11px 15px 10px 14px;
  font-size: 16px;
  cursor: pointer;
  line-height: 20px;
  font-weight: 400;
  /*  	background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);  */
}

.sort-select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #000;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.sort-select::after {
  grid-area: select;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #000;
  border-radius: inherit;
}

/*-----product-box-----*/
.product-box {
  margin-bottom: 73px;
}
.product-box__catalog {
  margin-bottom: 39px;
}

.block__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.product-content {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  width: 378px;
  transition: all 0.5s;
  padding: 10px;
  position: relative;
}
.product:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #888888;
}
.product__img {
  width: 100%;
  margin-bottom: 10px;
}
.product__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}
.product__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}
.product__box-price {
  display: flex;
  gap: 32px;
}
.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}
.product__price_old {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}
.product__icons {
  display: none;
}
.product__cart, .product__like {
  cursor: pointer;
}
.product:hover .product__icons {
  position: absolute;
  right: 0;
  padding: 10px 22px;
  display: flex;
  gap: 25px;
}
.product__cart path {
  transition: all 0.3s;
}
.product__like path {
  transition: all 0.3s;
}
.product__cart:hover path {
  fill: #000;
}
.product__like:hover path {
  fill: #000;
}

.link-box {
  margin-bottom: 64px;
}

.link-box__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  transition: color 0.5s;
}

.link-box__link:hover {
  text-decoration: none;
  color: #888888;
}

/*footer*/
.footer {
  background-color: #f7f6f6;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 40px;
  flex-wrap: wrap;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 792px;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.footer__link:hover {
  text-decoration: underline;
  color: #000;
}

.footer-icons {
  display: flex;
  gap: 22px;
}

/* .footer-icons__img:hover {
	filter: brightness(0);
} */
.footer-icons__svg path {
  transition: fill 0.3s;
}

.footer-icons__svg:hover path {
  fill: #000;
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__email {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
  padding-left: 25px;
  padding-right: 25px;
  width: 275px;
  height: 46px;
  margin-bottom: 12px;
}

.form__email::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.form__email:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.form__email::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.form__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  width: 275px;
  height: 46px;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s;
}
.form__button:hover {
  background: #000;
  color: #ffffff;
}

@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.top__cart {
  background-image: url(../img/top-cart.jpg);
  height: 400px;
}

.cart {
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.cart__content {
  grid-column: span 8;
}
.cart__form {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
}

.name-box {
  margin-bottom: 14px;
}
.name-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-right: 28px;
}

.cart-item {
  display: flex;
  border-top: 0.5px solid #cacdd8;
  padding-top: 25px;
  gap: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
}
.cart-item__left {
  display: flex;
  gap: 32px;
}
.cart-item__info {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}
.cart-item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}
.cart-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 14px;
}
.cart-item__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.cart-item__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  transition: all 0.5s;
}
.cart-item__link:hover {
  text-decoration: none;
  color: #888888;
}
.cart-item__input {
  max-width: 71px;
  height: 51px;
  background: #f7f6f6;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  color: #000000;
  border: none;
  padding-left: 15px;
}
.cart-item__link-box {
  display: flex;
  gap: 30px;
}
.cart-item__buttons {
  display: flex;
  gap: 5px;
}
.cart-item__btn {
  width: 200px;
  height: 37px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  /* 		padding: 10px 20px; */
}

.button {
  display: flex;
  border: 1px solid #000000;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: all 0.5s;
}
.button:hover {
  color: #ffffff;
  background: #000000;
}

.cart-form {
  background: #f7f6f6;
  border-radius: 20px;
  padding-top: 42px;
  text-align: center;
}
.cart-form__title {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.cart-form__input-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  gap: 40px;
  padding-left: 27px;
  width: 288px;
}
.cart-form__input {
  border: none;
  border-bottom: 1px solid #cacdd8;
  outline: none;
  padding-bottom: 4px;
  background: #f7f6f6;
}
.cart-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart-form__input:focus {
  border-bottom: 1px solid #000;
}
.cart-form__total {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.cart-form__total_price {
  font-weight: 500;
}
.cart-form__btn {
  width: 290px;
  height: 41px;
  align-self: center;
  -webkit-animation: heartbeat 1.5s ease-in-out 3s 2 both;
          animation: heartbeat 1.5s ease-in-out 3s 2 both;
}

@media (max-width: 1220px) {
  .center {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
  }
  .footer__logo {
    display: none;
  }
  .cart {
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 32px;
  }
  .cart__content {
    grid-column: span 8;
  }
  .cart__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 148px;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
}
.product-box {
  margin-bottom: 64px;
}
.product-box__catalog {
  margin-bottom: 41px;
}

.cart-form__input-fields {
  padding-left: 27px;
  width: 288px;
}
.cart-form__btn {
  width: 289px;
}

@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 355px;
  }
  .product-content {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__search {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .menu-mobile__svg path {
    transition: fill 0.3s;
  }
  .menu-mobile__svg:hover path {
    fill: #000;
  }
  .menu-mobile__svg rect {
    transition: fill 0.3s;
  }
  .menu-mobile__svg:hover rect {
    fill: #000;
  }
  .logo__img {
    width: 99px;
  }
  .top {
    margin-bottom: 32px;
  }
  .top__header {
    padding-top: 32px;
    border-bottom: none;
  }
  .top__content {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
  }
  .top__title {
    font-size: 48px;
    line-height: 59px;
  }
  .top__text {
    font-size: 16px;
    line-height: 32px;
  }
  .top__link {
    font-size: 14px;
  }
  .block__title {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    margin-bottom: 32px;
  }
  .for__content {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .for__item {
    height: 375px;
    font-size: 28px;
    line-height: 34px;
    grid-column: 1/-1;
  }
  .for__item_big {
    height: 243px;
  }
  .product__heading {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .product-content {
    justify-content: center;
    gap: 32px;
  }
  .product-box {
    margin-bottom: 36px;
  }
  .product-box__catalog {
    margin-bottom: 36px;
  }
  .link-box {
    margin-bottom: 32px;
  }
  .footer__info {
    gap: 100px;
    margin-bottom: 32px;
  }
  .footer__form {
    align-items: center;
  }
  .breadcrumbs-sort {
    gap: 16px;
  }
  .breadcrumbs__item {
    font-size: 14px;
  }
  .sort-select {
    font-size: 14px;
    line-height: 17px;
  }
  .top__cart {
    margin-bottom: 92px;
  }
  .cart__name-box {
    display: none;
  }
  .cart-item__img {
    display: none;
  }
  .cart-item__title {
    font-size: 18px;
    line-height: 22px;
  }
  .cart-item__text {
    font-size: 12px;
    line-height: 15px;
  }
  .cart-item__price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart-item__buttons {
    gap: 14px;
  }
  .cart-item__btn {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 320px) {
  .center {
    padding-left: 10px;
    padding-right: 10px;
  }
  .top__title {
    font-size: 41px;
    line-height: 54px;
  }
}
@media (max-width: 633px) {
  .footer__content {
    justify-content: center;
  }
  .cart {
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
  }
  .cart__content {
    grid-column: -1/1;
  }
  .cart-form {
    grid-column: -1/1;
    padding-bottom: 148px;
  }
  .cart-form__input-fields {
    padding-left: 27px;
    padding-right: 27px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .cart-item {
    gap: 0px;
  }
  .cart-item__buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cart-item__btn {
    width: 290px;
  }
  .cart-item__input {
    width: 71px;
    height: 51px;
  }
}